.header{
background-color:aquamarine;
min-height: 80px;
display: flex;
align-items: center;
}
.menu{
display: flex;
justify-content: space-around;
align-items: center;
}
.menu li{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}
